<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style/generator.css">
    <script src="./../controller/generator.js"></script>
    <title>𝘨 𝘦 𝘳 𝘢 𝘵 𝘳 𝘰 𝘯</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <h1>GERATRON</h1>
        <h2>Gerador de Senhas com Electron</h2>
    </header>

    <section id="section-body">
    <!-- TOP SECTION (DISPLAY)         -->
        <section id="section-display">
            <div>
                <input readonly></input>
                <button><img src="../assets/copy.svg" alt="[ Copiar ]"/></button>
                <button><img src="../assets/reload.svg" alt="[ Recarregar ]"/></button>
            </div>
            <div id="classifier"></div>
        </section>

        <!-- MID SECTION (GENERATOR)       -->
        <section id="section-generator">
            <div>
                <input type="range" min="3" max="64" step="1" value="10">
                <span id="range-value"> = 64</span>
            </div>
            <div>
                <input type="radio" name="rdEstilo" id="rdEstilo-1" checked> <label for="rdEstilo-1"> Vale Tudo </label>
                <input type="radio" name="rdEstilo" id="rdEstilo-2"> <label for="rdEstilo-2"> Tira caracteres confusos (IliL10oO) </label>
            </div>
            <div>
                <input type="checkbox" name="chkAlfabeto" id="chkAlfabeto-1" checked> <label for="chkAlfabeto-1"> letras minúsculas </label>
                <input type="checkbox" name="chkAlfabeto" id="chkAlfabeto-2" checked> <label for="chkAlfabeto-2"> LETRAS MAIÚSCULAS </label>
                <input type="checkbox" name="chkAlfabeto" id="chkAlfabeto-3" checked> <label for="chkAlfabeto-3"> Núm3r0s </label>
                <input type="checkbox" name="chkAlfabeto" id="chkAlfabeto-4" checked> <label for="chkAlfabeto-4"> *%#$@! </label>
            </div>
        </section>

        <!-- BOTTOM SECTION (COPY BUTTON)  -->
        <section id="section-copy-button">
            <button>COPIAR SENHA</button>
        </section>
    </section>

    <!-- FOOTER -->
    <footer><span> ༼ つ ◕_◕ ༽つ </span></footer>
</body>
</html>