<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../style/generator.css">
    <script src="./../controller/generator.js" defer></script>
    <title>𝘨 𝘦 𝘳 𝘢 𝘵 𝘳 𝘰 𝘯</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <h1>GERATRON</h1>
        <h2>Gerador de Senhas com Electron</h2>
    </header>

    <!-- TOP SECTION (DISPLAY)         -->


    <!-- MID SECTION (GENERATOR)       -->


    <!-- BOTTOM SECTION (COPY BUTTON)  -->


    <!-- FOOTER -->
    <footer>
        <span> ༼ つ ◕_◕ ༽つ </span>
    </footer>
</body>
</html>