/* DEFINIÇÃO DAS FONTES CUSTOMIZADAS */
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
    font-weight: 500;
}
body{
    font-family: montserrat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-weight: 600;
    color: #65558F;
    margin: 0;
}
header h2 {
    font-weight: 400;
    font-style: italic;
    color: #282828;
    margin: 0;
}

#section-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOP SECTION (DISPLAY) */
#section-display {
    background-color: white;
    display: flex;
    width: 80%;
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    flex-direction: column;
    box-sizing: border-box;
}

#section-display div {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 25px 25px 25px;
}

#section-display div#classifier {
    width: 100%;
    height: 10px;
    background-color: rgb(225, 225, 225);
    padding: 0;
}

#section-display div input {
    width: 85%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 0;   
    cursor: default;
}

#section-display div button {
    outline: none;
    border: 0;
    background-color: transparent;
}

/* MID SECTION (GENERATOR)*/
#section-generator {
    margin-top: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 25px 25px 25px 25px;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
}

#section-generator div{
    width: 100%;
    display: flex;
    margin-top: 24px;
}

#section-generator div span{
    font-weight: 600;
    color: #282828;
}

#section-generator input[type=range]{
    width: 95%;
    accent-color: #65558F;
    margin-bottom: 46px;
}

#section-generator div input[type=checkbox]{
    accent-color: #65558F;
}

#section-generator div input[type=radio]{
    accent-color: #65558F;
}

#section-generator div label{
    margin-right: 20px;
    font-weight: 500;
    font-size: 1.1em;
    color: #282828;
}

/* BOTTOM SECTION (COPY BUTTON) */
#section-copy-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 100px;
}

#section-copy-button button {
    background-color: #65558F;
    outline: none;
    border: 0;
    border-radius: 15px;
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    transition: all .2s;
}

#section-copy-button button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#section-copy-button button:active{
    filter: brightness(.75);
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100vw;
    text-align: center;
    color: #28282880;
}